.counterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 36px;
  line-height: 45px;
}

.openModalButton {
  font-size: 42px;
  line-height: 42px;
  color: white;
  border: none;
  background: none;
}

.openModalButton > div {
  width: 40px;
}